<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>correct-elect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>EvaluateServlet</servlet-name>
    <servlet-class>servlet.EvaluateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EvaluateServlet</servlet-name>
    <url-pattern>/evaluate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
    
  </servlet-mapping>
  
    <servlet>
    <servlet-name>MatchServlet</servlet-name>
    <servlet-class>servlet.MatchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MatchServlet</servlet-name>
    <url-pattern>/match</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlet.ProfileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>servlet.QuizServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
  
  
</web-app>